.content {
    text-align: center; /* 水平居中文字 */
}
.content h2{
    font-size: 30px;
    padding: 20px;
    
}
@media (max-width: 768px) {
    .content h2 {
        font-size: 24px;
        padding: 15px;
    }
}
@media (max-width: 480px) {
    .content h2 {
        font-size: 20px;
        padding: 10px;
    }
}
